
@{
    ViewBag.Title = "Education";
}

<h3>Educational Qualifications</h3>
<table style="width:60%">
    <tr>
        <th>Qualification</th>
        <th>Group</th>
        <th>Institution</th>
        <th>Grade</th>
        <th>Year/Semester</th>
    </tr>
    
    <tr>
        <td>S.S.C</td>
        <td>Science</td>
        <td>Harimohan Govt. High School</td>
        <td>4.95</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>H.S.C</td>
        <td>Science</td>
        <td>Rajshahi College</td>
        <td>4.96</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>B.Sc.</td>
        <td>CSE</td>
        <td>American International University</td>
        <td>3.75</td>
        <td>9th</td>
    </tr>
</table>
