
@{
    ViewBag.Title = "Homepage";
}

<h1>Homepage</h1>
<h3>Name : MD. Mosaddek Hossain</h3>
<h3>Student ID : 20-42766-1</h3>
<h3>Email : hossainmdmosaddek101@gmail.com</h3>
<h3>Contact Number: 01999334455</h3>

