
@{
    ViewBag.Title = "Projects";
}

<div>
    <h1>Friends of Farmers</h1>
    <h4>PHP-MySQL-HTML-CSS</h4>
    <p>This is an agro based project and this project has 4 users. Each user has their own advantages</p>
</div>

<div>
    <h1>Cargo Management System</h1>
    <h4>C#-MySQL</h4>
    <p>This is an management based project and this project has 2 users. Each user has their own duties</p>
</div>

<div>
    <h1>Computer Genius</h1>
    <h4>C#-MySQL</h4>
    <p>This is an management based project and this project has 2 users. Each user has their own duties</p>
</div>